<div class="menuToggle" (click)="toggleSidebar()"></div>
<div class="sidebar">
    <ul>
        <li class="logo" style="--bg: #FFFFFF;">
            <a>
                <div class="imgBx icon">
                    <img src="../../../assets/img/logo-black.png" width="40" height="40">
                </div>                
                <div class="title">Onboarder</div>
            </a>
        </li>

        <div class="Menulist">
            <li style="--bg: #ffa117;" class="active">
                <a routerLink="/org-dashboard">
                    <div class="icon"><i class="fa-solid fa-house"></i></div>
                    <div class="text">Dashboard</div>    
                </a>
            </li>
            <li style="--bg: #0fc70f;">
                <a>
                    <div class="icon"><i class="fa-solid fa-user"></i></div>
                    <div class="text">Profile</div>    
                </a>
            </li>
            <li style="--bg: #2196f3;">
                <a routerLink="/org-events">
                    <div class="icon"><i class="fa-solid fa-calendar-days"></i></div>
                    <div class="text">Events</div>    
                </a>
            </li>
        </div>
        <div class="bottom">
            <li style="--bg: #FFFFFF;">
                <a href="#">
                    <div class="imgBx icon">
                        <img src="../../../assets/img/profile-pic.png" width="40" height="40">
                    </div>
                    <div class="text">Juan Dela Cruz</div>
                </a>
            </li>
            <li style="--bg: #FFFFFF;">
                <a href="#">
                    <div class="icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                    <div class="text">Logout</div>
                </a>
            </li>
        </div>
    </ul>
</div>