<body>
    <div class="container">
        <aside>
            <app-org-navbar></app-org-navbar>
        </aside>

        <div class="content">
            <nav class="navbar navbar-expand-lg  rounded" aria-label="Thirteenth navbar example">
                <div class="container-fluid">          
                  <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                    <a class="navbar-brand col-lg-9 me-0">Organization Events and Activities</a>
                    <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                      <button class="btn btn-primary" routerLink="/org-create-event">Create Event</button>
                    </div>
                  </div>
                </div>
            </nav> 
        </div>
    </div>
</body>


