<body>
  <div class="container">
      <aside>
          <app-mem-navbar></app-mem-navbar>
      </aside>

      <div class="content">
          <nav class="navbar navbar-expand-lg  rounded" aria-label="Thirteenth navbar example">
              <div class="container-fluid">          
                <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                  <a class="navbar-brand col-lg-9 me-0">Member Profile</a>
                  <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                    <button class="btn btn-primary">Save Changes</button>
                  </div>
                </div>
              </div>
          </nav> 

          <div class="container gap-3">
            <div class="col-md-3">
    
                <!-- Upload image input-->
                <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                    <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                    <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                    <div class="input-group-append">
                        <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                    </div>
                </div>
    
                <!-- Uploaded image area-->
                <p class="font-italic text-white text-center">The profile picture uploaded will be rendered inside the box below.</p>
                <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
    
            </div>

            <div class="col-md-9 center" style="display: flex; align-items: center;">
              <div class="row">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="memName">Full Name</span>
                  <input type="text" class="form-control" placeholder="Please enter your full name" aria-label="Username">
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text" id="memEmail">Email Address</span>
                  <input type="text" class="form-control" placeholder="Please enter your email address" aria-label="UserEmail">
                </div>
              </div>
            </div> 
        </div>

        <div class="subheading">
          <h5>Personal Information</h5>
        </div>
        

        <div class="input-group mb-3">
          <span class="input-group-text" id="memEmail">Email Address</span>
          <input type="text" class="form-control" placeholder="Please enter your email address" aria-label="UserEmail">
        </div>
    </div>

  </div>
</body>


