<body>
    <div class="container">
        <aside>
            <app-mem-navbar></app-mem-navbar>
        </aside>

        <div class="content"*ngFor="let OrganizationItem of orgInfo">
            <div class="card-horizontal gap-3 text-center align-items-center justify-content-center">
                <div class="img-square-wrapper">
                    <img class="" src="http://via.placeholder.com/200x200" alt="Card image cap">
                </div>
                <div class="card-body" >
                    <h4 class="card-eventtitle">{{OrganizationItem.orgName}}</h4>
                    <p class="card-text">{{OrganizationItem.about}}</p>
                    <button class="btn btn-primary" (click)="redirectToMemOrMemForm(OrganizationItem._id)">Register</button>
                </div>
            </div>

            <hr>

            <div class="card-body">
                <h4 class="card-eventtitle">About</h4>
                <p class="card-text">{{OrganizationItem.about}}</p>
            </div>

            <hr>

            <div class="card-body">
                <h4 class="card-eventtitle">History</h4>
                <p class="card-text">{{OrganizationItem.orgHistory}}</p>
            </div>

            <hr>

            <div class="card-body">
                <h4 class="card-eventtitle">Vision</h4>
                <p class="card-text">{{OrganizationItem.vision}}</p>
            </div>

            <hr>

            <div class="card-body">
                <h4 class="card-eventtitle">Mission</h4>
                <p class="card-text">{{OrganizationItem.mission}}</p>
            </div>

            <hr>

            <div class="card-body">
                <h4 class="card-eventtitle">Core Values</h4>
                <p class="card-text">{{OrganizationItem.coreValues}}</p>
            </div>

            <hr>

        </div>
    </div>
</body>


