@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter&family=Plus+Jakarta+Sans:wght@200&display=swap');

.badge {
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

/* NAV BAR */
header {
    background-color: #007FE1;
    width: 100%; 
}
.nav-item a {   
    color: #fff;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    margin: 6px;
}
.nav-item a:after {
   display: block;
   content      : '';
   border-bottom: solid 2px #fff;
   transform    : scaleX(0);
   transition   : transform 300ms ease-in-out;
}

.nav-item a:hover:after {
   transform: scaleX(1);
}
.login {
    background-color: #00E1D3;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 30px;
    float: left;
    margin-left: 100%;
    margin-top: 8px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    
}

/*Home*/
#Hero {
    background-image: url('data:image/svg+xml,<svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 380" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(0, 127, 225, 1)" offset="0%"></stop><stop stop-color="rgba(0, 225, 210, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(%23sw-gradient-0)" d="M0,152L48,133C96,114,192,76,288,69.7C384,63,480,89,576,82.3C672,76,768,38,864,44.3C960,51,1056,101,1152,107.7C1248,114,1344,76,1440,107.7C1536,139,1632,241,1728,234.3C1824,228,1920,114,2016,107.7C2112,101,2208,203,2304,253.3C2400,304,2496,304,2592,253.3C2688,203,2784,101,2880,88.7C2976,76,3072,152,3168,177.3C3264,203,3360,177,3456,171C3552,165,3648,177,3744,152C3840,127,3936,63,4032,69.7C4128,76,4224,152,4320,158.3C4416,165,4512,101,4608,76C4704,51,4800,63,4896,76C4992,89,5088,101,5184,120.3C5280,139,5376,165,5472,202.7C5568,241,5664,291,5760,272.3C5856,253,5952,165,6048,139.3C6144,114,6240,152,6336,190C6432,228,6528,266,6624,240.7C6720,215,6816,127,6864,82.3L6912,38L6912,380L6864,380C6816,380,6720,380,6624,380C6528,380,6432,380,6336,380C6240,380,6144,380,6048,380C5952,380,5856,380,5760,380C5664,380,5568,380,5472,380C5376,380,5280,380,5184,380C5088,380,4992,380,4896,380C4800,380,4704,380,4608,380C4512,380,4416,380,4320,380C4224,380,4128,380,4032,380C3936,380,3840,380,3744,380C3648,380,3552,380,3456,380C3360,380,3264,380,3168,380C3072,380,2976,380,2880,380C2784,380,2688,380,2592,380C2496,380,2400,380,2304,380C2208,380,2112,380,2016,380C1920,380,1824,380,1728,380C1632,380,1536,380,1440,380C1344,380,1248,380,1152,380C1056,380,960,380,864,380C768,380,672,380,576,380C480,380,384,380,288,380C192,380,96,380,48,380L0,380Z"></path></svg>');
    background-size: cover;
}
.Card {
    width: 100%;
    display: flex;
    gap: 20px;
}
.Card2 {
    background-color: #007FE1;
}
.Card3 {
    background-color: #007FE1;
    
}
.learn-more-btn{
    background-color: #3676d7;
}