<header class="d-flex justify-content-center py-3">
  <ul class="nav">
    <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
    <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
    <li class="nav-item"><a routerLink="/services" class="nav-link">Services</a></li>
    <li class="nav-item"><a routerLink="/developers" class="nav-link">Developers</a></li>
    <li class="nav-item-1"><a routerLink="/developers" class="login">Login</a></li>
  </ul>
</header>

<div id="Hero" class="Hero d-flex justify-content-center align-items-center">
        <div class="p-5 text-center rounded-3">
            <img class="bi" src="assets/img/logo-name1.png">
            <h1 class="text-white-emphasis text-white">Membership Made Easy, Events Made Memorable</h1>
            <p class="col-lg-8 mx-auto fs-4 text-white">
                A comprehensive event and membership management system designed to streamline and simplify the process of organizing and managing events while efficiently handling membership-related tasks.
            </p>
            <div class="d-inline-flex gap-2 mb-5"></div>
        </div>
    </div>

    <div id="About" class="Card align-items-md-stretch p-5 justify-content-center">
        <div class="col-md-5">
            <div  class="Card2 h-100 p-5 text-white rounded-3">
                <h2>Register your Organization</h2>
                <p class="fs-5">To start your onboarding journey, register your organization to make your organization visible to your members.</p>
                <button class="btn btn-outline-light" type="button"  (click)="navigatetoOrg()">Register Organization</button>
            </div>
        </div>

        <div class="col-md-5">
            <div class="Card3 h-100 p-5 text-white rounded-3">
                <h2>Join an Organization</h2>
                <p class="fs-5">Join your organization through your org code to access the announcements and updates.</p>
                <button class="btn btn-outline-light" type="button" (click)="navigatetoMem()">Join Organization</button>
            </div>
        </div>
    </div>  



