<div class="container">
    <header class="d-flex justify-content-center py-3 mb-5 border-bottom">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a routerLink="/services" class="nav-link">Services</a></li>
        <li class="nav-item"><a routerLink="/developers" class="nav-link">Developers</a></li>
      </ul>
    </header>
</div>

<div>
  DITO ILAGAY YUNG SERVICES
</div>