<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">REGISTER YOUR ORGANIZATION</h2>
                <p>Fill all form field to go to next step</p>
                <form [formGroup]="form"(submit)="submit()"id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Account</strong></li>
                        <li id="personal"><strong>Information</strong></li>
                        <li id="payment"><strong>Goals</strong></li> 
                        <li id="confirm"><strong>Image</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> 
                    
                    <br> 
                    <!-- fieldsets -->
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Organization Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 1 - 4</h2>
                                </div>
                            </div>
                                  <label class="fieldlabels">Organization Name: *</label> 
                                  <input type="text" name="orgName" formControlName="orgName" placeholder="Organization Name" />
                                  
                                  <label class="fieldlabels">Organization Type: *</label> 
                                  <input type="text" formControlName="orgType" name="orgType" placeholder="Organization Type" /> 

                                  <label class="fieldlabels">Organization Email: *</label> 
                                  <input type="text" formControlName="orgEmail" name="orgType" placeholder="Organization Email" /> 

                                  <label class="fieldlabels">Password: *</label>
                                   <input type="password" name="orgType" formControlName="password" placeholder="Password" /> 
                                  
                        </div> <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
  
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">General Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 2 - 4</h2>
                                </div>
                            </div> 
                                  <label class="fieldlabels">Brief Description of the Organization's Purpose: *</label> 
                                  <input type="text" name="orgType" formControlName="about" placeholder="Organization Purpose and Description" /> 
                                  <label class="fieldlabels">Organization's History: *</label> 
                                  <input type="text" name="orgType" formControlName="orgHistory" placeholder="Organization History" /> 
                        </div> 
                        
                        <input type="button" name="next" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
  
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">General Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 3 - 4</h2>
                                </div>
                            </div> 
                                  <label class="fieldlabels">Mission: *</label> 
                                  <input type="text" name="orgType" formControlName="mission" placeholder="Mission" /> 
                                  <label class="fieldlabels">Vision: *</label> 
                                  <input type="text"  formControlName="vision" placeholder="Vision" /> 
                                  <label class="fieldlabels">Core Values: *</label>
                                   <input type="text"  formControlName="coreValues" placeholder="Core Values" />
                        </div> 
                        
                        <input type="button" name="next" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    
                    <fieldset>
                        <div class="form-card">
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Logo Image Upload:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 4 - 4</h2>
                                    </div>
                                </div> 
                                      <label class="fieldlabels">Upload Your Organizations Logo:</label> <input type="file" name="pic" accept="image/*"> 
                            </div> 
                            
                            <input type="button" name="next" class="next action-button" value="Submit" value="Done" (click)="submit()"  />
                    
                            <!-- data-bs-toggle="modal" data-bs-target="#SuccessModal" -->
  
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
  </div>

<!-- Success Modal -->
<div id="SuccessModal" class="modal fade" data-bs-backdrop="static" >
	<div class="modal-dialog modal-dialog-centered modal-confirm">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
				<div class="icon-box">
					<i class="fa-regular fa-circle-check"></i>
				</div>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close" (click)="navigatetoHome()"></button>
            </div>
			<div class="modal-body text-center">
				<h4>Great!</h4>	
				<p>Your organization account has been created successfully.</p>
				<button class="btn btn-success" data-dismiss="modal" (click)="navigatetoLanding()" ><span>Start Exploring</span> <i class="fa-solid fa-arrow-right" style="width: 5px; height: 5px;"></i></button>
			</div>
		</div>
	</div>
</div> 