<body>
    <div class="container">
        <aside>
            <app-org-navbar></app-org-navbar>
        </aside>

        <div class="content">
            <nav class="navbar navbar-expand-lg  rounded" aria-label="Thirteenth navbar example">
                <div class="container-fluid">          
                  <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                    <a class="navbar-brand col-lg-9 me-0">List of Members Panel</a>
                  </div>
                </div>
            </nav>  
    

            <div class="container-xl">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2><b>Members List</b></h2>
                                </div>
                                <div class="col-sm-6">
                                    <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><span>Delete</span></a>						
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="selectAll">
                                            <label for="selectAll"></label>
                                        </span>
                                    </th>
                                   
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Membership Type</th>
                                    
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let MemberItem of membersDetails" >
                                    <td>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                            <label for="checkbox1"></label>
                                        </span>
                                    </td>
                                    <td>{{MemberItem.fullName}}</td>
                                    <td>{{MemberItem.email}}</td>
                                    <td>{{MemberItem.chooseMem}}</td>
                                   
                                    <td>
                                        <a href="#acceptMemberModal" class="accept" data-toggle="modal"><i class="fa-solid fa-square-check"></i></a>
                                        <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="fa-solid fa-square-xmark"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</body>




