<body>
    <div class="container">
        <aside>
            <app-admin-navbar></app-admin-navbar>
        </aside>

        <div class="content">

            <div class="container-xl">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2><b>Users</b></h2>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="selectAll">
                                            <label for="selectAll"></label>
                                        </span>
                                    </th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Date created</th>
                                    <th>View</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let MemberItem of MemberArray">
                                    <td>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                            <label for="checkbox1"></label>
                                        </span>
                                    </td>
                                    <td>{{MemberItem.firstName}}</td>
                                    <td>{{MemberItem.lastName}}</td>
                                    <td>{{MemberItem.email}}</td>
                                    <td>{{MemberItem.dateCreated}}</td>
                                    <td>
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#viewUserModal"><i class="bi bi-eye"></i></button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editUserModal"><i class="bi bi-pencil-square"></i></button>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal"><i class="bi bi-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>        
            </div>
        </div>
    </div>

<!-- Delete User Modal -->
<div class="modal fade" id="deleteUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center center">
            <img src="../../../../assets/img/failed.png">
            <h2>Are you sure?</h2>          
            <button type="button" class="btn btn-success">Yes</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
</div>

<!-- Edit User Modal -->
<div class="modal fade" id="editUserModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body center">
                <h2 class="text-center">Edit User Information</h2>
                <form id="editUserForm">
                    <!-- User Information -->
                    <div class="form-group">
                        <label style="margin-top: 10px;">First Name</label>
                        <input type="text" class="form-control" id="editUserFirstname" placeholder="Enter your first name">
                    </div>
                    <div class="form-group">
                        <label style="margin-top: 10px;">Last Name</label>
                        <textarea class="form-control" id="editUserLastname" placeholder="Enter your last name"></textarea>
                    </div>

                    <!-- Account Information -->
                    <div class="form-group">
                        <label style="margin-top: 10px;">Email</label>
                        <input type="text" class="form-control" id="editUserEmail" placeholder="Enter your email">
                    </div>

                    <div class="form-group">
                        <label style="margin-top: 10px;">Password</label>
                        <input type="text" class="form-control" id="editUserPassword" placeholder="Enter your desired password">
                    </div>

                    <div class="form-group">
                        <label style="margin-top: 10px;">Confirm Password</label>
                        <input type="text" class="form-control" id="editUserPassword2" placeholder="Re-enter your desired password">
                    </div>

                    <div class="text-center center">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- View User Modal -->
<div class="modal fade" id="viewUserModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body center">
                <form id="editUserForm">
                    <!-- User Information -->
                    <div class="form-group">
                        <label style="margin-top: 10px;">First Name</label>
                        <input type="text" class="form-control" id="editUserFirstname" placeholder="Enter your first name">
                    </div>
                    <div class="form-group">
                        <label style="margin-top: 10px;">Last Name</label>
                        <textarea class="form-control" id="editUserLastname" placeholder="Enter your last name"></textarea>
                    </div>

                    <!-- Account Information -->
                    <div class="form-group">
                        <label style="margin-top: 10px;">Email</label>
                        <input type="text" class="form-control" id="editUserEmail" placeholder="Enter your email">
                    </div>

                    <div class="form-group">
                        <label style="margin-top: 10px;">Password</label>
                        <input type="text" class="form-control" id="editUserPassword" placeholder="Enter your desired password">
                    </div>

                    <div class="form-group">
                        <label style="margin-top: 10px;">Confirm Password</label>
                        <input type="text" class="form-control" id="editUserPassword2" placeholder="Re-enter your desired password">
                    </div>

                    <div class="text-center center">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>




