<body>
    <div class="container">
        <aside>
            <app-org-navbar></app-org-navbar>
        </aside>
  
        <div class="content">
            <div class="card">
              <h5 class="card-header">(Event Name)</h5>
              <div class="card-body">
                <div class="img-square-wrapper">
                    <img class="" src="http://via.placeholder.com/2160x1080" width="100%" height="400" alt="Card image cap">
                </div>
    
                <div class="col-md-12">
                    <div class="card border-dark mb-3">
                        <div class="card-header">Event Description (Name of the Event dapat nakalagay here)</div>
                        <div class="card-body">
                            <h5 class="card-title-event">Short Description</h5>
                        </div>
                    </div>
                </div>
    
                <div class="row g-3">
                    <div class="col-md-4">
                        <div class="card border-danger mb-3">
                            <div class="card-header text-center">Available Seats</div>
                            <div class="card-body">
                                <h5 class="card-title text-center">192</h5>
                                <p class="card-text text-center">SEATS LEFT SO GRAB YOURS NOW!</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="card border-success mb-3">
                            <div class="card-header text-center">Date of the Event</div>
                            <div class="card-body">
                                <h5 class="card-title text-center">MON</h5>
                                <p class="card-text text-center">October 16, 2023</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="card border-success mb-3">
                            <div class="card-header text-center">Time of the Event</div>
                            <div class="card-body">
                                <h5 class="card-title text-center">19:23</h5>
                                <p class="card-text text-center">Philippine Standard Time</p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <label class="fieldlabels">Program Flow</label> 
                <div class="img-square-wrapper">
                    <img class="" src="http://via.placeholder.com/2160x1080" width="100%" height="400" alt="Card image cap">
                </div>
    
                <div class="card border-success mb-3 video-card">
                    <div class="card-header video">Wanna know more: (Dito niyo ilagay yung Promo Vid Link flssss T-T)</div>
                </div>
    
        
                <div class="col-md-12">
                    <div class="card border-dark mb-3">
                        <div class="card-header">Event Registration Price and Process</div>
                        <div class="card-body">
                            <h5 class="card-title-event">Currency kinesue huhuhu</h5>
                            <p class="card-text-event">Dito mo lagay kath yung payment process and details</p>
                        </div>
                    </div>
                </div>
    
              </div>
            </div>
        </div>
    </div>
  </body>
  
  
  